:host {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 16px;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr auto;

  div{
    display: grid;
    justify-content: center;
    button{
      margin: auto auto;
    }
  }
}

.textarea {
  min-height: auto;
  padding: 8px 8px;
  overflow: hidden;
  display: block;
  border: 1px solid #ccc;
  font-size: inherit;
  font-family: inherit;
  line-height: 20px;
}

// .textarea[contenteditable]:empty::before {
//   content: "Placeholder still possible";
//   color: gray;
// }
