<div class="row justify-content-md-center h-100">
  <div class="col col-lg-8 h-100 chat-board">
    <div class="messages-board">
      @for (message of messageList; track message.id) {
        @if (message.type === "Prompt") {
          <app-chat-message-client [prompt]="message.content">
          </app-chat-message-client>
        } @else if (message.type === "Answer") {
          <app-chat-message-gpt [answer]="message.content">
          </app-chat-message-gpt>
        }
      }
    </div>
    <app-chat-input (promptToSend)="sendPrompt($event)"> </app-chat-input>
  </div>
</div>
